<div class="col-xs-12 trip" data-id="<%= trip.get('id') %>" id="content-item-main">
	<div class="col-xs-3 image">
		<img src="http://s3-us-west-1.amazonaws.com/travelapp-el/trips/trip_photos/000/000/066/med/base64.txt?1390556281">
	</div>
	<div class="col-xs-7">
		<div class="col-xs-10 col-xs-offset-2 content">
			<h4><%= trip.escape('title') %></h4>
		</div>
		<div class="col-xs-8 col-xs-offset-2 content">
			<p><%= trip.escape('theme') %></p>
			<p>From: <%= trip.escape('start_date') %></p>
			<p>To: <%= trip.escape('end_date') %></p>
			<p>Destination: <%= trip.escape('start_loc') %></p>
		</div>
		<div class="col-xs-2 content">
		</div>
	</div>
</div>
<br>
<br>