<script type="text/javascript">
  function initialize() {

    var mapOptions = {
      center: new google.maps.LatLng(-50.000, 100.000),
      zoom: 8
    };
		alert(mapOptions['center']);
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
  }
	_.defer(initialize);
</script>

<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-2">
		  <h4><%= trip.escape('title') %></h4>
		  <h4><%= trip.escape('theme') %></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-2">
		  <h4>From: <%= trip.escape('start_date') %></h4>
		  <h4>To: <%= trip.escape('end_date') %></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-2">
		  <h4>Destination: <%= trip.escape('end_loc') %></h4>
		</div>
	</div>
	<br>
	<br>
	<div class="col-xs-10 col-xs-offset-2 trip-details" data-loc="<%= trip.escape('latLng') %>">
		<h4><a href='#'><strong>Trip Details</strong></a></h4>
		 <div id="map-canvas"></div>
	</div>
</div>

