<div class="col-xs-12 trip-show">
	<div class="panel panel-default">
	  <div class="panel-body">
			<div class="row">
				<div class="col-xs-10">
				  <h4><%= trip.escape('title') %></h4>
				  <h4><%= trip.escape('theme') %></h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10">
				  <h4>From: <%= trip.escape('start_date') %></h4>
				  <h4>To: <%= trip.escape('end_date') %></h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10">
				  <h4>Destination: <%= trip.escape('start_loc') %></h4>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-xs-8 trip-details" id="trip-details" data-lat="<%= trip.escape('lat') %>" data-lng="<%= trip.escape('lng') %>">
			<div class="row">
				<div class="col-xs-8">
					<input type="text" id="dest-search" name="dest-search">
				</div>
				<div class="col-xs-4">
					<button class="btn btn-primary dest-search">Explore <%= trip.escape('start_loc') %> </button>
				</div>
			</div>
			<div id="map-canvas">
			</div>
		</div>
		<div class="col-xs-4">
			<div class="info-area">
				<div class="info-area-ul">
					<div class="panel-group" id="accordion">
						<% trip.get('excursions').each(function(excursion) { %>
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="<%= excursion.get('id') %>">
					          <%= excursion.escape('title') %>
					        </a>
					      </h4>
					    </div>
					    <div id="<%= excursion.get('id') %>" class="panel-collapse collapse in">
					      <div class="panel-body">
									<p><%= excursion.escape('place') %></p>
									<p><%= excursion.escape('start') %></p>
					      </div>
					    </div>
					  </div>
						<% }); %>
					</div>
				</div>
			</div>
	  </div>
	</div>
	<div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Basic panel example
  </div>
</div>

